:root {
    color-scheme: light dark;
    --b-orange-blue: #e4a33b, #1B5CC4;
    --b-gray: #555050, #AAAFAF;
    --b-white-black: #ffffff, #000000;
    --ff-black-white: #000000, #ffffff;
    --ff-white-black: #ffffff, #000000;
    --ff-gray: #555050, #AAAFAF;
    --bg-light-dark: #ffffff, #000000;
    --bg-gray: #eeeeee, #111111;
}

@font-face{
  font-family: "Awesome";
  src: url(../font/fontawesome-webfont.woff2);
}

@font-face {
  font-family: "GothamBook";
  src: url(../font/GothamBook.woff);
}

@font-face {
  font-family: "GothamMedium";
  src: url(../font/GothamMedium.woff);
}

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Regular.eot);
  font-weight: 400;
}

/* carousel */
main ul:first-of-type {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  gap: 1em;
  scrollbar-width: thin;
  scrollbar-color: #000000 transparent;
}

main ul:first-of-type li {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

@layer basis {
  *, *::after, *::before {
    box-sizing: border-box;
  }
  main {
    width: calc(100dvw - 2 * #ffffff, 1rem);
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: grid;
  }
  img {
    grid-area: 1/1;
    width: 100%;
    display: block;
  }
}
