:root {
    color-scheme: light dark;
    --b-orange-blue: #e4a33b, #1B5CC4;
    --b-gray: #555050, #AAAFAF;
    --b-white-black: #ffffff, #000000;
    --ff-black-white: #000000, #ffffff;
    --ff-white-black: #ffffff, #000000;
    --ff-gray: #555050, #AAAFAF;
    --bg-light-dark: #ffffff, #000000;
    --bg-gray: #eeeeee, #111111;
}

@font-face{
  font-family: "Awesome";
  src: url(../font/fontawesome-webfont.woff2);
}

@font-face {
  font-family: "GothamBook";
  src: url(../font/GothamBook.woff);
}

@font-face {
  font-family: "GothamMedium";
  src: url(../font/GothamMedium.woff);
}

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Regular.eot);
  font-weight: 400;
}

/* section 1 */
main h2{
	font-family: 'OpenSans', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 1em 1rem;
}

main button:first-of-type, button:nth-of-type(2){
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center; 
}


main button:first-of-type{
    margin: 0 1rem;
    width: 7.928rem;
    height: 1.975rem;
    background-color: #ffffff;
}

main button:nth-of-type(2){
    width: 20.95rem;
    height: 2.1rem;
    background-color: #e4a33b;
    margin: 1rem;
    color: #ffffff;
}

main button:nth-of-type(2) svg{
    fill: #ffffff;
}

main section:first-of-type button:nth-last-of-type(2) svg{
	width: 1.25rem;
	height: 1.25rem;
}

main section:first-of-type ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .7rem;
	margin: 1rem;
	
}


main section:first-of-type ul li button{
	background-color: transparent;
	border: none;
}

main section:first-of-type ul li button svg{
	width: 1.125rem;
	height: 1.25rem;
}

main section:first-of-type ul li img{
	border-radius: 100%;
	width: 1rem;
	height: 1rem;
}

main section:first-of-type ul li a{
	display: grid;
}

main section:first-of-type ul li a h3{
	order: 1;
}

main section:first-of-type ul li a p:first-of-type{
	order: 2;
}

main section:first-of-type ul li a p:nth-of-type(2){
	order: 3;
}

main section:first-of-type ul li a img{
	order: 0;
	width: 10.163rem;
	height: 13.55rem;
	border-radius: 0;
}

main section:first-of-type {
  border-bottom: .1rem solid #555050; 
  padding-bottom: 10px;          
  margin-bottom: 10px;           
}


/* section 2 */

main section:nth-of-type(2){
	margin: 1rem;
	
}

main section:nth-of-type(2) h2{
    margin: 1rem;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 1.441rem;
}

main section:nth-of-type(2) p{
    margin: 1rem;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 0.875rem;
}