/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  color-scheme: light dark;
  --b-orange-blue:light-dark(#e4a33b, #1B5CC4);
  --b-gray:light-dark(#555050, #AAAFAF);
  --b-white-black:light-dark(#ffffff, #000000);
  --ff-black-white:light-dark(#000000, #ffffff);
  --ff-white-black:light-dark(#ffffff, #000000);
  --ff-gray:light-dark (#555050, #AAAFAF);
  --bg-light-dark:light-dark (#ffffff, #000000);
  --bg-gray:light-dark (#eeeeee, #111111);
}

@font-face{
  font-family: "Awesome";
  src: url(../font/fontawesome-webfont.woff2);
}

@font-face {
  font-family: "GothamBook";
  src: url(../font/GothamBook.woff);
}

@font-face {
  font-family: "GothamMedium";
  src: url(../font/GothamMedium.woff);
}

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Regular.eot);
  font-weight: 400;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* algemeene styling*/
*{
  padding: 0;
  margin: 0;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000000;
}

details summary{
  text-transform: uppercase;
}

h2, h3, p, a, details{
  font-family: 'OpenSans', Arial, sans-serif;
}

/* basis header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  padding: 0.5em 1em;
}

/* eerste button in header = hamburgerknop */
header > button {
  order: -1;
  background: none;
  border: none;
  cursor: pointer;
}

/* nav standaard dicht */
header > nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: white;
  padding: 2em;
  overflow-y: auto;

  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

/* open nav via data attribuut */
header > nav[data-open="true"] {
  transform: translateX(0%);
}

/* sluitknop in nav */
header > nav > button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-bottom: 1em;
}

header nav a{
  display: flex;
  text-transform: uppercase;
}

header svg{
  width: 1.375rem;
	height: 1.375rem;
}

header h1 a img{
  width: 8.75rem;
  height: 2.103rem;
}

header{
  display: flex;
}

header label{
  order: -1;
}


/* footer */
footer a{
  display: flex;
}

footer section{
  background-color: var(--bg-gray);
}

footer section:first-of-type{
  background: url(../images/kv_shape.svg);
  background-repeat: no-repeat;
  background-size: 5em 5em;
  height: 5em;
}

footer button{
  width: 20.95rem;
  height: 2.1rem;
  background-color:var(--b-gray);
  margin: 1rem;
  color: var(--ff-white-black);
  text-transform: uppercase;
}

